body{
  background-color: rgb(238, 179, 16);
}
.footer{
  background-color: rgb(190, 94, 4);
  width: 100%;
  padding: 20px;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
  
.container {
  width: 70%;
  margin: auto;
}

.calculator {
  width: 350px;
  height: 500px;
  margin: auto;
  background-color: rgb(190, 94, 4);
  display: grid;
  grid-template-rows: 1fr 4fr;
  box-sizing: border-box;
}

.screen {
  margin: 20px;
  width: 310px;
  height: 100px;
  background-color: rgb(248, 245, 233);
  font-family: 'Orbitron', sans-serif;
  font-size: 25px;  
  vertical-align: bottom;
  border: 1px solid black;
}

#expr, #ans {
  width: inherit;
  height: 50px;
  box-sizing: border-box;
  overflow-x: auto;
}

#ans {
  padding-top: 15px;
  text-align: right;
  overflow: hidden;
}

.buttons {
  background-color: rgb(190, 94, 4);
  margin: 0 20px 20px 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px 1px;
  border: 1px solid black;
}

.buttons > button {
  border: 0;
  box-shadow: none;  
  font-size: 18px;
  font-family: 'Orbitron', sans-serif;
}
footer span{
    padding-bottom: 20px;
    color: #E5E7EB;
    margin-left: 200px;
}
span{
    float: right;
    font-weight: bolder;
    margin-right: 250px;
    margin-top: -100px;
    color: #1F2937;
    font-size: 20px;
}
